<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register - TAR Systems</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="/assets/css/untitled.css">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image"  style="background-image: url(&quot;/assets/img/Edna_Mall/edna.jpg&quot;);  background-attachment: fixed;"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Create Employee an Account!</h4>
                            </div>
                            <form class="user" method="POST" action="/auth/register">
                                  {{#if message}}
                                <div class="alert">
                                <span class="closebtn">&times;</span>  
                                <strong>Alert!</strong> {{message}}
                                </div>
                                {{/if}}
                                {{#if success}}
                                <div class="alert success">
                                <span class="closebtn">&times;</span>  
                                <strong>Success!</strong> {{success}}
                                </div>       
                                {{/if}}
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="FirstName" placeholder="First Name" required name="first_name"></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="LastName" placeholder="Last Name" required name="last_name"></div>
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="UserName" required placeholder="User Name" name="user_name"></div>

                                </div>
                                <div class="form-group"><input class="form-control form-control-user" type="email" required id="Email" aria-describedby="emailHelp" placeholder="Email Address" name="email"></div>
                                <div class="form-group"><input class="form-control form-control-user" type="text" required id="PhoneNumber" pattern="(\+\s*2\s*5\s*1\s*9\s*(([0-9]\s*){8}\s*))|(0\s*9\s*(([0-9]\s*){8}))" title="+251000000 or 0911000000" aria-describedby="emailHelp" placeholder="+251" name="PhoneNumber"></div>
                                <div class="form-group"><input class="form-control form-control-user" type="text" id="SubCity" aria-describedby="emailHelp" placeholder="Sub city" name="SubCity"></div>
                                <div class="form-group"><input class="form-control form-control-user" type="text" id="Country" aria-describedby="emailHelp" placeholder="Ethiopia" name="Country"></div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password" id="PasswordInput" required placeholder="Password" name="password"></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="password" id="RepeatPasswordInput" required placeholder="Repeat Password" name="password_repeat"></div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <h6 style="height: -4px;margin: 6px;margin-top: 21px;">Please Select Authorization Level</h6>
                                    </div>
                                    <div class="col-sm-6" style="height: 50px;" >
                                        <div class="dropdown" style="height: 55px;">
                                        <select name="Authorization" id="Authorization" class="btn btn-primary dropdown-toggle" id="Authorization"  style="height: 41px;padding: 9px;width: 212px;padding-left: 11px;margin-left: 18px;margin-top: 8px;"><button class="btn btn-primary dropdown-toggle">
                                        <option value="Marketer">Marketer &nbsp;</option>
                                        <option value="Manager">Manager</option>
                                        <option value="Finance">Finance</option>
                                        </select>

                                    </div>
                                        
                                </div>

                        </div><button class="btn btn-primary btn-block text-white btn-user" type="submit">Register Account</button>
                        <hr>
                        <hr>
                        </form>
                        <div class="text-center" hidden><a class="small" href="forgot-password">Forgot Password?</a></div>
                        <div class="text-center" hidden><a class="small" href="/">Already have an account? Login!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/chart.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/assets/js/theme.js"></script>
</body>

</html>